/** Étape 3 - Structure CSS **/
body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

/** Étape 5 - Style des liens de navigation interne **/
a {
  color: rgb(255, 255, 255);
}

.content {
  max-width: 90%;
  margin: 0 auto;
}

.secondary-block {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 117, 186);
}

nav {
  display: flex;
  height: 70px;
}

nav h2 {
  padding: 20px 0 20px 15px;
  margin: 0;
}

nav ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 24px;
}

nav li {
  margin-left: 15px;
}

/** Étape 7 - Style de l'en-tête **/
header {
  text-align: center;
  padding: 40px;
}

header h2 {
  color: rgb(4, 117, 186);
}

header img {
  width: 150px;
  border-radius: 75px;
  box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

